/* Class Selector */
.t21{background-color: yellowgreen;}
.t22{background-color: wheat;}
.t23{background-color: violet;}
.t24{background-color: turquoise;}
.t25{background-color: tomato;}
.t41{background-color: chartreuse;}
.t42{background-color: slategrey;}
.t43{background-color: slateblue;}
.t44{background-color: skyblue;}
.t45{background-color: silver;}
/* Id selector */
#t31{background-color: thistle;}
#t32{background-color: teal;}
#t33{background-color: tan;}
#t34{background-color: steelblue;}
#t35{background-color: springgreen;}
#t51{background-color: sienna;}
#t52{background-color: seashell;}
#t53{background-color: seagreen;}
#t54{background-color: sandybrown;}
#t55{background-color: salmon;}
